body {
  height: 100vh; }

h1 {
  color: black;
  text-align: center;
  background-color: blue;
  margin: 0; }
  h1:hover {
    color: blue;
    background-color: black; }

.container {
  display: grid;
  grid-template-columns: 50vw 50vw; }

.row {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }
