$h1Color: rgb(255, 0, 0);

body{
    height: 100vh;
}

h1{
    color: black;
    text-align: center;
    background-color: blue;
    margin: 0;
    &:hover{
        color: blue;
        background-color: black;
    }
}

.container{
    display: grid;
    grid-template-columns: 50vw 50vw;
}

